{% extends layout %}
{% block body %}
<main>
    <!-- Próxima aula -->
    <section class="mb-1">
      <h1 class="fs-2">Próxima Aula</h1>
      <hr class="my-3 border-2 opacity-50">
  
      <a href="#"
         class="card text-decoration-none mb-3 card-hover">
        <div class="row g-0">
          <div class="col-12">
            <div class="card-body d-flex flex-column" style="height: 100%;">
              <h3 class="card-title">Nome da Aula</h3>
              <p class="card-text flex-grow-1">Descrição da aula</p>
              <p class="card-text"><small>Realizada dia: 01/01/2025</small></p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 0%;">0%</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </section>
  
    <!-- Todas as aulas -->
    <section class="my-5">
      <h2 class="fs-4">Todas as Aulas</h2>
      <hr class="my-3 border-2 opacity-50">
  
      <div class="d-flex flex-column gap-3">
        <!-- Aula -->
        <a href="#"
           class="card text-decoration-none card-hover">
          <div class="row g-0">
            <div class="col-12">
              <div class="card-body d-flex flex-column" style="height: 100%;">
                <h3 class="card-title">Nome da Aula</h3>
                <p class="card-text flex-grow-1">Descrição da aula</p>
                <p class="card-text"><small>Realizada dia: 01/01/2025</small></p>
                <div class="progress w-100">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%;">Concluída</div>
                </div>
              </div>
            </div>
          </div>
        </a>
  
        <!-- Cards repetidos aqui embaixo -->
  
      </div>
    </section>
</main>
{% endblock %}