{% extends layout %}
{% block body %}

<style>
    :root,
        [data-bs-theme=light] {
        --bs-primary: #ff9900;
        --bs-primary-darker: #d46b29;
        --bs-primary-rgb: 255, 105, 10;
        --bs-primary-text-emphasis: #9b3f07;;
        --bs-primary-bg-subtle: #ff8335;
        --bs-primary-border-subtle: #f88944;
        --bs-link-color: #fd7e14;
        --bs-link-color-rgb: 255, 105, 10;
        --bs-link-hover-color: #b65a0f;
        --bs-link-hover-color-rgb: 182, 90, 15;
    }

    .disabled {
        pointer-events: none;
        color: gray;
    }
</style>

<main>
    <div class="d-flex flex-column align-items-start">
        <p class="fs-4 mb-1 mb-md-0">Curso: {{ aula.curso }}</p>
        <p class="fs-4 mb-1">Aula {{ aula.num }}: {{ aula.nome }}</p>
    </div>
    <hr class="my-3 border-2 opacity-50">
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
        <div class="col">
            <div>
                <p class="fs-1">Vídeo</p>
                <iframe style="aspect-ratio: 16 / 9; width: 100%;"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen
                src="{{ aula.video }}">
                </iframe>
            </div>
            <div>
                <p class="fs-1">Conteúdo</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% if aula.slides %}
                            <a class="fs-5" href="{{ aula.slides.url}}" target="_blank">Slides</a>
                        {% else %}
                            <a class="fs-5 disabled">Slides</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        {% if aula.notas %}
                            <a class="fs-5" href="{{ aula.notas.url }}" target="_blank">Notas</a>
                        {% else %}
                            <a class="fs-5 disabled">Notas</a>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        {% if aula.code %}
                            <a class="fs-5" href="{{ aula.code.url }}" target="_blank">Código</a>
                        {% else %}
                            <a class="fs-5 disabled">Código</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-3 border-2 opacity-50 d-md-none">
        <div class="col" id="exercicios" style="overflow-y: auto; max-height: 600px;">
            {% include "ccapp/partials/quiz.html" %}
        </div>
    </div>
    <!-- A ideia é que a caixa de comentários seja dinâmica -->
    <div id="caixa-comentarios"
        hx-get="{% url 'ccapp:obter_comentarios' aula.id %}"
        hx-trigger="load">
        <p>Carregando comentários...</p>
    </div>
</main>

{% endblock %}