{% extends layout %}
{% load static %}

{% block body %}
<main>
    <!--Cursos disponíveis-->
    <section>
        <h1 class="fs-2">Cursos</h1>
        <hr class="my-3 border-2 opacity-50">
        <div class="d-flex flex-row justify-content-start mb-4">
            <button hx-get="{% url 'ccapp:cursos' %}?filtro=meus" hx-target="#lista-cursos"class="btn m-2 btn-md rounded-5 btn-outline-secondary">Meus Cursos</button>
            <button hx-get="{% url 'ccapp:cursos' %}?filtro=outros" hx-target="#lista-cursos" class="btn m-2 btn-md rounded-5 btn-outline-secondary">Outros Cursos</button>
            <button hx-get="{% url 'ccapp:cursos' %}" hx-target="#lista-cursos" class="btn m-2 btn-md rounded-5 btn-outline-secondary">Mais Cursos</button>
        </div>
    </section>

    <!--Cursos -->
    <section class="d-flex flex-column" id="lista-cursos">
        {% include "ccapp/partials/lista_cursos.html" %}
    </section>

</main>
{% endblock %}