<form hx-post="{% url 'ccapp:curtir_comentario' comentario.id %}" hx-target="this" hx-swap="outerHTML">
    {% csrf_token %}
    <small class="text-muted me-2">{{ comentario.total_curtidas }}</small>
    
    {% if request.user in comentario.curtidas.all %}
        <button type="submit" class="btn btn-sm btn-outline-danger rounded-5">Descurtir</button>
    {% else %}
        <button type="submit" class="btn btn-sm btn-outline-primary rounded-5">Curtir</button>
    {% endif %}
</form>

<!--Nota: fiquei meio confuso aqui com o Many-to-Many no model lá mas acho que funciona-->
<!--Aqui usamos uma abordagem tipo "toggle", onde curtimos e descurtimos na mesma url, ou seja, não é RESTful-->